* {
    margin: 0;
}
header, footer {
    background-color: rgb(35, 110, 202);
    text-align: center;
    color: white;
}
h1 {
    padding: 15px;
    margin: 0;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
h3 {
    color: white;
    padding: 15px;
}
nav a {
    display: none;
}
h2 {
    text-align: center;
    padding: 30px;
}
main {
    background-color: rgb(206, 197, 197);
}
.pics {
    display: grid;
    gap: 25px;
    padding-bottom: 20px;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 7px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
p {
    padding: 15px;
}
dialog {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
dialog img {
    display: block;
    /* width: 90%; */
    /* margin: 20vh auto; */
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 20vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    .pics {
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
    }
}

@media screen and (min-width: 900px) {
    .pics {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
    }
    h3 {
        display: none;
    }
    nav a {
        display: inline;
        color: white;
        padding: 5px;
    }
    nav {
        padding: 5px;
    }
}