@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.logo {
    width: 100px;
}
header {
    margin: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #396e94;
    padding-right: 60px;
}
header a {
    color: white;
    text-decoration: none;
    padding: 40px;
}
header a:hover {
    background-color: #D0D6B5;
    color: #396e94;
}
h1, h2 {
    font-family: "Merriweather", "IM Fell French Canon SC";
}
p, a, button, li {
    font-family: "Quicksand", Lato, Helvetica, sans-serif;
}
#search-input {
    width: 85%;
    padding: 15px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 10px;
}
#search-btn {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #396e94;
    color: white;
}
#search-btn:hover {
    background-color: #D0D6B5;
    color: black;
    cursor: pointer;
}
.char-card {
    border: 2px solid black;
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #D0D6B5;
    text-align: center;
    margin-bottom: 30px;
}
.char-card a {
    text-decoration: none;
    color: white;
    background-color: #396e94;
    display: block;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
.char-card a:hover {
    background-color: #A7754D;
}
.char-img-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border: 10px solid #A7754D;
    border-radius: 10px;
}
footer {
    background-color: #396e94;
    padding: 30px;
    margin: -8px;
    color: white;
}
footer p a {
    color: white;
}

#character-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color: #D0D6B5;
}
#character-info img {
    display: block;
    /* text-align: right; */
    justify-self: right;
}
#descriptions {
    grid-column: 1/3;
}

@media screen and (min-width: 820px){
    #character-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .char-card {
        width: 75%;
    }
}