h1 {
    text-align: center;
}
nav {
    text-align: right;
    padding: 15px;
    border-top: 2px solid rgb(255, 217, 1);
    border-bottom: 2px solid rgb(255, 217, 1);
}
nav a {
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: crimson;
}
#content {
    margin: 30px;
}
#book-info {
    text-align: right;
}
#book-main {
    margin-left: 30px;
    padding: 30px;
}
h2 {
    color: crimson;
    font-size: 1.7em;
}
img {
    display: block;
    margin: 0 auto;
}
footer p {
    text-align: center;
    border-top: 2px solid rgb(255, 217, 1);
    padding-top: 15px;
}

@media screen and (min-width: 700px) {
    #content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #book-main {
        border-left: 2px solid rgb(255, 217, 1);
    }
}